#header
  background: url("../img/DI_splash.jpg") no-repeat
  background-size: cover
  height: 80vh  
  text-align: center  
  color: white

  article
    width: 80%
    margin: 0 auto
    background: red

.main-nav
  display: flex
  padding: 0
  margin-top: 20px

  li
    list-style: none

  li:first-child
    margin-right: auto

  a
    color: white
    display: block
    border-radius: 4px
    padding: 10px 40px
    text-decoration: none    
    text-transform: uppercase  

a.download
  background: white
  color: $ocean
  box-shadow: 0 12px 10px -10px rgba(0, 0, 0, 0.2)
  margin-left: 25px
